body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px,0px;
  
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(bgim.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}
h1 {
  margin-bottom: 40px;
  color: #440224;
}

.button {
  display: inline-block;
  padding: 20px 60px;
  margin: 10px;
  font-size: 16px;
  color: #ed1313;
  background-color: #c3cbd4;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #a0a9b3;
}
